.navber {
    background-color: black !important;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

}

.navbar li {
    padding: 0px 10px;
}

.navbar li a {
    color: white !important;
    font-weight: bold;
}

.navbar li a:hover {
    color: brown;
}