.project {
    background-color: black;
    color: white;
}

hr {
    height: 2px;
    background-image: linear-gradient(left, black, white, white, black);

}

.myProjectText {
    text-align: center;
}

.myProjectText span {
    color: blueviolet;
}

.card {
    transition: 2s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-body a {
    color: white;
    background-color: rgba(226, 43, 43, 0.855);
}

.card-body a:hover {
    background-color: transparent;
    border: 1px solid background-color rgba(226, 43, 43, 0.855);
}

.card-img-top {
    height: 400px;
    width: 400px;
}